<html lang="fr">

<head>

    <link rel="stylesheet" href="../public/styles.css">

</head>

<body>
    <footer class="footer">
        <hr>
        Copyright &copy; 2020 Gaetan
    </footer>
</body>

</html>