<html lang="fr">

<head>

    <link rel="stylesheet" href="../public/styles.css">

</head>

<body>
    <div>
        <a href="/"> Express Movies</a>
        &nbsp;
        <a href="/movies"> Films</a>
        &nbsp;
        <a href="movies/add"> Créer une fiche film</a>
        &nbsp;

    </div>
</body>

</html>