<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Express Movies</title>
</head>

<body>
    <div class="central">

        <%- include('./partials/header'); -%>
        <h1>Espace membre </h1>
        <div>

        </div>
        <%- include('./partials/footer'); -%>
    </div>
</body>

</html>