<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Express Movies</title>
</head>

<body>
    <div class="central">
        <%- include('./partials/header'); -%>
        <h1>Express Movies : Un site de Ouf! </h1>
        <div>
            Films, Series , Porn !
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque maiores pariatur culpa nesciunt
            voluptatem inventore illo ullam sequi esse exercitationem quidem ut praesentium velit perspiciatis porro
            itaque, id cumque enim?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non suscipit magnam nemo nisi. Temporibus dolorum
            molestiae recusandae rerum reiciendis perspiciatis velit pariatur, error inventore ducimus atque doloremque
            quam molestias neque!
            Sequi tempora voluptate quasi nobis obcaecati ipsa recusandae harum sapiente, laudantium suscipit cum
            necessitatibus, enim ut. Reiciendis maxime, perspiciatis qui veniam eveniet architecto pariatur ullam, ex
            dolor, assumenda temporibus consequatur!
            Unde quam alias similique, asperiores repellendus amet quisquam, iure est obcaecati corporis modi officia ut
            mollitia consequatur commodi voluptatem perspiciatis dignissimos, quas sapiente? Repudiandae error harum
            labore quod excepturi officiis.
            Natus aliquid dicta laborum iure mollitia sequi possimus molestias maiores dignissimos fugiat harum
            consectetur temporibus nisi cum in, eligendi quod officiis reiciendis, sapiente debitis quibusdam tempora
            minima neque alias! Voluptatum.
            Quia cum sequi accusantium! Exercitationem quibusdam ducimus laboriosam laborum officia quod inventore, sint
            facere, libero reprehenderit dolore perferendis obcaecati tenetur ratione, dignissimos nostrum! Explicabo
            facilis delectus voluptates est, quas ut.
            Beatae quam nesciunt sit sunt quisquam maxime praesentium molestiae laudantium, placeat corrupti aspernatur
            optio voluptatem iusto necessitatibus adipisci magni ipsa inventore rem? Veniam excepturi voluptate
            praesentium quas optio vero maiores?
            Pariatur, fugiat magni provident ea facere vel consequuntur odit praesentium laboriosam sequi voluptatum
            possimus ex repellat sit assumenda, dicta excepturi iusto. Excepturi, sit neque molestiae aspernatur
            veritatis itaque nisi nesciunt!
            Facilis nulla dolores iusto alias inventore voluptatum labore numquam cumque, quidem, ratione illo? Ab
            voluptatibus alias at, aut possimus, inventore explicabo libero aliquid quis facilis pariatur vel
            accusantium ex debitis!
            Molestiae nobis adipisci officiis totam? Consectetur pariatur dicta atque aspernatur aut? Et ipsa pariatur
            provident, quasi aut mollitia tempora quia asperiores dolores nihil, tempore eos possimus rerum a cum eaque.
            Placeat veritatis tempora voluptatem quidem dolores asperiores nobis dolore, quas consequuntur autem odio
            natus magnam doloribus, dicta, corrupti exercitationem maiores sit! Possimus quo quasi reprehenderit et a,
            perspiciatis quia omnis.
        </div>
        <%- include('./partials/footer'); -%>
    </div>
</body>

</html>