<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Express Movies</title>
</head>

<body>
    <div class="central">
        <h1>Pages Des films</h1>
        <div>
            <%- include('./partials/header'); -%>
            Bientôt des films sur cette page
        </div>
        <%- include('./partials/footer'); -%>
    </div>

</body>

</html>